/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

header .logo img {
    width: 120px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

header ul li a:hover {
    color: #ffcccc;
}

/* Main Section */
main {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("/img/sww.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

main img {
    width: 250px;
    margin-bottom: 20px;
}

main p {
    font-size: 28px;
    margin-bottom: 25px;
}

main input {
    width: 500px;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #fe6600;
    color: white;
}
/* Sections General */
section {
    padding: 60px 80px;
    text-align: center;
    background-color: #fff;
    color: #333;
}

/* Categories */
.category-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.category-card {
    background: #f8f8f8;
    padding: 25px 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.category-card:hover {
    background-color: #e23744;
    color: white;
    transform: scale(1.1);
}

/* Restaurants */
.restaurant-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.restaurant-card {
    background: #f8f8f8;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.restaurant-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Newsletter */
.newsletter {
    background-color: #e23744;
    color: white;
}

.newsletter input {
    padding: 12px 20px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.newsletter button {
    padding: 12px 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background: white;
    color: #e23744;
}
